<h1>Inscription</h1>

<%= simple_form_for @user, url: signup_path, html: { method: :post } do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, "Créer un compte", class: "btn btn-primary" %>
<% end %>